nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background-color: darkgreen;
}

ul {
    display: flex;
}

li {
    margin-right: 20px;
    list-style-type: none;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease;
}

a:hover {
    color: greenyellow;
}

#rechercher {
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: darkgreen;
    color: white;
    margin-top: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.item {
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}

/* Style additionnel pour mettre en forme les élément */
.item:nth-child(odd) {
    background-color: lightblue;
}
.item:nth-child(even) {
    background-color: crimson;
}

/* Styles de base pour les écrans larges */
.mosaique {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: 10px; /* Espacement entre les éléments */
    margin: 20px;
}

/* Media Query pour les écrans plus étroits comme les tablettes */
@media (max-width: 768px) {
    .mosaique {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media Query pour les écrans étroits comme les smartphones */
@media (max-width: 480px) {
    .mosaique {
        grid-template-columns: (1,1fr);
    }
}